.footer
  .footer-links
    a(href=appUrl) Website
    a(href=`${appUrl}/dashboard`) Dashboard
    a(href=`${appUrl}/contact`) Support
  p.footer-text #{currentYear} #{appName}. All rights reserved.
  p.footer-address
    | This email was sent to you because you have an account with #{appName}.
    br
    | If you didn't request this email, please ignore it or contact support.
