extends ../layouts/base.pug

block content
  h1 Reset Your Password
  p.subtitle We received a request to reset your password
  p.greeting Hi #{name},
  p We received a request to reset the password for your #{appName} account. Click the button below to create a new password.
  .button-container
    a.button(href=resetUrl) Reset Password
  .link-box
    p Or copy and paste this link into your browser:
    a(href=resetUrl)= resetUrl
  .warning-box
    p
      strong This link expires in 1 hour.
      |  If you didn't request a password reset, please ignore this email or contact support if you're concerned about your account security.
  .info-box
    p
      strong Security tip:
      |  #{appName} will never ask for your password via email. Always access your account through our official website.
  .divider
  p.support-note
    | Need help? Contact our support team at 
    a(href=`mailto:${supportEmail}`)= supportEmail
