extends ../layouts/base.pug

block content
  h1 Verify Your Email Address
  p.subtitle One quick step to activate your account
  p.greeting Hi #{name},
  p Thank you for creating an account with #{appName}. To get started with trading, please verify your email address by clicking the button below.
  .button-container
    a.button(href=verificationUrl) Verify Email Address
  .link-box
    p Or copy and paste this link into your browser:
    a(href=verificationUrl)= verificationUrl
  .warning-box
    p
      strong This link expires in 24 hours.
      |  If you didn't create an account with #{appName}, you can safely ignore this email.
  .divider
  p.support-note
    | Need help? Contact our support team at 
    a(href=`mailto:${supportEmail}`)= supportEmail
